<div id="commonGoogleNav"></div>

<div class="googleMenu">
    <a id="logo" href="https://mail.google.com/mail/u/0/?shva=1#inbox"><img src="style/img/logo.png"/></a>

    <form class="search">
        <label for="field"></label><input id="field" name="field" type="text"/>
        <input id="submit" name="submit" type="submit"/>
    </form>

    <div class="plusmenu">
        <span><a id="user" href="https://plus.google.com/u/0/115239898719183516051/posts"> {{user}} </a></span>
        <button type="button" title="Сповіщення"><img src="style/img/notification.png"/></button>
        <a href="https://plus.google.com/u/0/?hl=uk"><img src="style/img/share.png"></a>
        <a href="https://plus.google.com/u/0/115239898719183516051/posts"><img src="{{photo}}"/></a>
    </div>
</div>

<nav class="mailNav">
    <button type="button" id="gmailLogo"><img src="style/img/gmail.png"/></button>
    <div class="letterOption">
        <button type="button" title="Вибрати"><img src="style/img/choose.png"/></button>
        <button type="button" title="Оновити"><img src="style/img/restore.png"/></button>
        <a href="#"><img src="style/img/more.png"/></a>
    </div>
    <a id="letterNumber" href="#">
        {{#letterNumber}}
            <b>{{from}}-{{to}}</b> із <b>{{quantity}} </b></a>
        {{/letterNumber}}
    <div class="letterGide">
        <a href="#" title="Старіші"><img src="style/img/older.png"></a><a href="#" title="Новіші"><img src="style/img/resent.png"></a>
        <button type="button" title="Налаштування"><img src="style/img/propertise.png"/></button>
    </div>
</nav>

<aside>
    <button type="button" id="writeButton"><img src="style/img/write.png"/></button><br/>
    <nav class="letterNav">
        {{#letterNav}}
            <a href="{{url}}"> {{label}} </a><br/>
        {{/letterNav}}
    </nav>
    <a href="#" id="chat"><img src="style/img/chat.png" title="Чат"/></a>
</aside>

<section>

    {{#letterInfo}}
        <div class="letterInfo">

            <div class="flag"><label><input type="checkbox"/></label></div>
            <div class="star"><img src="style/img/star.png"></div>
            <div class="fromWho">{{fromWho}}</div>
            <div class="letterTheme">{{letterTheme}}</div>
            <div class="a-w">
                <div class="addOns"><img src="{{addOns}}"></div>
                <div class="whenDate">{{whenDate}}</div>
            </div>
        </div>
    {{/letterInfo}}

    <footer>
        <div id="usingMemory">
            <b>Використано 1%</b><br/>
            Використовується 0,1 Гб з 10,1 Гб
        </div>

        <div id="copyright">
            &copy; Google,2013 - <a href="http://mail.google.com/mail/help/intl/uk/terms.html">Умови та конфіденційність</a>
        </div>

        <div id="lastDid">
            Остання діяльність в обліковому записі: 41 хв. тому <br/><a href="https://mail.google.com/mail/u/0/?ui=2&ik=8e13ba2dc8&view=ac">Подробиці</a>
        </div>
    </footer>
</section>
