<h2> {{title}} {{#tags}}<span class="tags">{{.}},  </span>{{/tags}}</h2>

<header class="letter-from"> {{from.name}} <span class="time">{{time}}</span></header>
<header class="letter-to"> кому  {{to.name}}</header>
<article>
 {{body}}
</article>
